/* Colores principales y secundarios */
.bg-primary {
  background-color: #00838f !important;
}

.bg-secondary {
  background-color: #006972 !important;
}

.text-primary {
  color: #00838f !important;
}

.text-secondary {
  color: #96bab3 !important;
}

/* Estilos de botones */
.btn-outline-primary {
  border-color: #00838f !important;
  color: #00838f !important;
}

.btn-outline-primary:hover {
  background-color: #00838f !important;
  color: #e0dfdf !important;
}

.btn-primary {
  background-color: #00838f !important;
  border-color: #002629 !important;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #00545c !important;
}

.btn-primary:active {
  background-color: #002629 !important;
  border-color: black !important;
}

.btn-primary:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 131, 143, 0.5) !important;
  box-shadow: 0 0 0 0.2rem rgba(0, 131, 143, 0.5) !important;
}

/* Estilos de enlaces en el footer */
footer a {
  color: white !important;
}

footer a:hover {
  color: #e0dfdf !important;
}

footer h5 {
  font-weight: bold !important;
}

/* Estilos de las tarjetas */
.card {
  position: relative;
  transition: all 300ms ease;
}

.card:hover {
  -webkit-box-shadow: 0 0 10px rgba(12, 12, 12, 0.23);
  box-shadow: 0 0 10px rgba(12, 12, 12, 0.23);
  transform: scale(1.05);
}

.card-img-top {
  width: 100%;
  border-radius: 8px;
  transition: opacity 0.3s ease;
  opacity: 1;
}

.card:hover .card-img-top {
  opacity: 0.3;
}

/* Overlay para efecto hover */
.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 8px;
}

.plus {
  font-size: 2rem;
  color: #ffffff;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card:hover .plus {
  opacity: 1;
}

.card-text {
  color: #8c8c8c;
  margin-top: 10px;
  font-weight: bold;
}

.line {
  background-color: #e0dfdf;
  height: 2px;
  width: 100px;
}

/* Ajustes de fuentes y espaciado para dispositivos pequeños */
body {
  font-size: 14px;
}

@media (min-width: 576px) {
  body {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .content-fix {
    max-width: 50%;
  }
}

/* Ajustes responsivos para la tarjeta */
@media (max-width: 576px) {
  .card {
    transform: scale(1); /* Eliminar el escalado en dispositivos pequeños */
    margin-bottom: 15px;
  }
  
  .card-overlay {
    background-color: rgba(0, 0, 0, 0.7); /* Más oscuro para mayor contraste en pantallas pequeñas */
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .card {
    max-width: 80%; /* Limitar el ancho en pantallas medianas */
    margin: auto;
  }
}

@media (min-width: 992px) {
  .card {
    max-width: 60%; /* Limitar el ancho en pantallas grandes */
  }
}
